* {
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d9d9d9;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  position: relative;
  background-color: #b7b7b7;
  overflow: hidden;
}



/* HEADER */



header {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 150px;
  margin-right: -10px;
  background-color: transparent;
  width: 100%;
  height: 150px;
  position: relative;
  background-color: #ffffff;
}

.header-popularne {
  position: absolute;
  width: 127px;
  top: 63px;
  left: 552px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.header-kategorie {
  position: absolute;
  width: 126px;
  top: 63px;
  left: 846px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.header-polecane {
  position: absolute;
  width: 126px;
  top: 63px;
  left: 1139px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.header-wyszukiwarka-pt1 {
  position: absolute;
  width: 202px;
  height: 40px;
  top: 55px;
  left: 1391px;
  background-color: #d9d9d9;
}

.header-wyszukiwarka-pt2 {
  position: absolute;
  width: 94px;
  top: 8px;
  left: 53px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #787878;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.header-logowanie {
  position: absolute;
  width: 127px;
  top: 63px;
  left: 1727px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.logo {
  position: absolute;
  width: 99px;
  height: 100px;
  top: 30px;
  left: 33px;
  background-color: #d9d9d9;
}



/* POPULARNE */



.popularne {
  position: relative;
  width: 1450px;
  height: 350px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
}

.polecane {
  position: relative;
  width: 1450px;
  height: 350px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
}

.najoceniane {
  position: relative;
  width: 1450px;
  height: 350px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
}

.rectangle {
  position: relative;
  width: 272px;
  height: 262px;
  top: 44px;
  left: 77px;
  background-color: #d9d9d9;
  border-radius: 15px;
  margin-right: 70px;
  align-content: center;
}

.rectangle-2 {
  position: relative;
  width: 242px;
  height: 198px;
  margin-left: 5%;
  top: 5%;
  background-color: #a09090;
  border-radius: 15px;
}

.text-wrapper-5 {
  position: relative;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
  min-height: 30px;
  min-width: 30px;
  max-width: 250px;
  padding-right: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
}

a.tooltip {
  text-decoration: none;
  color: black;
  border-bottom: 1px;
  text-decoration: none;
}

a.tooltip:hover {
  cursor: help;
  position: relative;
}

a.tooltip span {
  display: none;
}

a.tooltip:hover span {
  border: solid black 2px;
  padding: 5px 20px 5px 5px;
  display: block;
  z-index: 100;
  background: #e4e4e4;
  left: -10px;
  width: 300px;
  position: absolute;
  top: 35px;
  text-decoration: none;
}


/* LOSOWE */



.losowe {
  position: relative;
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  gap: 200px;
  flex-wrap: wrap;
}

.overlap-group-3 {
  width: 586px;
  height: 586px;
  position: relative;
  background-color: #ffffff;
}

.imgwlos {
  position: absolute;
  background-color: #a09090;
  width: 400px;
  height: 350px;
  top: 90px;
  left: 80px;
  border-radius: 15px;

}

.rectangle-3 {
  position: absolute;
  background-color: #d9d9d9;
  width: 500px;
  height: 500px;
  top: 42px;
  left: 38px;
  border-radius: 15px;
}

.textwlos {
  position: absolute;
  width: 106px;
  top: 466px;
  left: 234px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.overlap-wrapper {
  position: relative;
  width: 587.5px;
  height: 585.5px;
  margin-right: -2px;
}

.div-wrapper {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 12px;
  left: 343px;
  background-color: #d9d9d9;
}

.stopka {
  position: relative;
  width: 1920px;
  height: 86px;
  padding: -10px;
  margin-left: -10.5px;
  margin-right: -10.5px;
  background-color: #ffffff;
  border-top: 1px solid;
  border-color: #000000;
}

.discord {
  position: absolute;
  width: 75px;
  top: 32px;
  left: 1743px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

/* ZMIANA STRONY */


.pagination-wrapper {
  font-size: 0;
  position: absolute;
  bottom: 125px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

@keyframes pagination-container--animation-prev {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(18px);
  }
}

@keyframes pagination-container--animation-next {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-18px);
  }
}

.transition-prev .pagination-container {
  animation: pagination-container--animation-prev 0.3s forwards;
}

.transition-next .pagination-container {
  animation: pagination-container--animation-next 0.3s forwards;
}

.little-dot {
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
  margin: 0 6px;
  position: relative;
  z-index: 10;
}

.little-dot--first,
.little-dot--last {
  z-index: 5;
}

@keyframes slideLeft {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-18px);
  }
}

.transition-prev .little-dot--first {
  animation: slideLeft 0.4s 0.3s forwards cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes little-dot--first--animation {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.transition-next .little-dot--first {
  animation: little-dot--last--animation 0.3s forwards;
}


@keyframes little-dot--last--animation {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.transition-prev .little-dot--last {
  animation: little-dot--last--animation 0.3s forwards;
}

@keyframes slideRight {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }

  100% {
    transform: translateX(18px);
    opacity: 1;
  }
}

.transition-next .little-dot--last {
  animation: slideRight 0.4s 0.3s forwards cubic-bezier(0.165, 0.84, 0.44, 1);
}

.big-dot {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: #8d6c6c;
  position: absolute;
  top: 50%;
  right: -6px;
  transform: translateY(-50%);
}

.transition-next .big-dot {
  right: auto;
  left: -6px;
}

.big-dot-container {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  right: 3px;
  transform: translateY(-50%);
  z-index: 10;
}

.transition-next .big-dot-container {
  right: auto;
  left: 3px;
}

@keyframes big-dot-container--animation-prev {
  0% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(-50%) rotate(-179deg);
  }
}

@keyframes big-dot-container--animation-next {
  0% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(-50%) rotate(-181deg);
  }
}

.transition-prev .big-dot-container {
  animation: big-dot-container--animation-prev 0.3s forwards;
}

.transition-next .big-dot-container {
  animation: big-dot-container--animation-next 0.3s forwards;
}

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
  transition: opacity 0.2s;
}

.btn:hover {
  opacity: 0.6;
}

.btn--next {
  left: calc(100% + 20px);
}

.btn--prev {
  right: calc(100% + 20px);
}