* {
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #d9d9d9;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  position: relative;
  background-color: #b7b7b7;
  overflow: scroll;
  overflow-x: hidden;
  padding-bottom: 110px;
}



/* HEADER */

a{
  text-decoration: none;
  color: inherit;
}

header {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 150px;
  background-color: transparent;
  width: 100%;
  position: relative;
  background-color: #ffffff;
}

.header {
  display: flex;
  gap: 7%;
  justify-content: right;
  margin-right: 100px;
  margin-top: 45px;
}

.header-kategorie {
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  padding: 15px 20px;
  transition: 0.3s;
  border: 1px solid black;
  border-radius: 10px;
}

.header-kategorie:hover {
  background-color: #3e8e41;
  color: white;
}
.header-createquiz {
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  padding: 15px 20px;
  transition: 0.3s;
  border: 1px solid black;
  border-radius: 10px;
}

.header-createquiz:hover {
  background-color: #3e8e41;
  color: white;
}

.header-wyszukiwarka {
  background-color: #d9d9d9;
  transition: 0.3s;
  border: 1px solid black;
}

.header-wyszukiwarka:hover {
  background-color: #3e8e41;
  color: white;

  input::placeholder{
    color: white;
  }
}

.header-wyszukiwarka:focus {
  background-color: #3e8e41;
  color: white;

  input::placeholder{
    color: white;
  }
}

.header-wyszukiwarka {
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  text-align: center;
  transition: 0.3s;
  border: 1px solid black;
  border-radius: 10px;
}

input.header-wyszukiwarka{
  padding: auto;
}

input.header-wyszukiwarka::placeholder{
  position: absolute;
  left: 70px;
}

.header-logowanie {
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  padding: 15px 20px;
  transition: 0.3s;
  border: 1px solid black;
  border-radius: 10px;
}

.header-logowanie:hover {
  background-color: #3e8e41;
  color: white;
}

.logo {
  position: absolute;
  width: 110px;
  height: 110px;
  top: 20px;
  left: 25px;
  background-color: #d9d9d9;
}





/* POPULARNE */



.popularne {
  position: relative;
  width: 1450px;
  height: 350px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
}

.polecane {
  position: relative;
  width: 1450px;
  height: 350px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
}

.najoceniane {
  position: relative;
  width: 1450px;
  height: 350px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
}

.rectangle {
  position: relative;
  width: 272px;
  height: 262px;
  top: 44px;
  left: 77px;
  background-color: #d9d9d9;
  border-radius: 15px;
  margin-right: 70px;
  align-content: center;
}

.rectangle-2 {
  position: relative;
  width: 242px;
  height: 198px;
  margin-left: 5%;
  top: 5%;
  background-color: #a09090;
  border-radius: 15px;
}

.text-wrapper-5 {
  position: relative;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 17px;
  letter-spacing: 0;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
  min-height: 30px;
  min-width: 30px;
  max-width: 250px;
  padding-right: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
}

a.tooltip {
  text-decoration: none;
  color: black;
  border-bottom: 1px;
  text-decoration: none;
}

a.tooltip:hover {
  cursor: help;
  position: relative;
}

a.tooltip span {
  display: none;
}

a.tooltip:hover span {
  border-radius: 10px;
  padding: 5px 5px 5px 5px;
  display: block;
  z-index: 100;
  background: #e4e4e4;
  position: fixed;
  left: calc();
  width: auto;
  top: calc();
  margin-top: 20px;
  margin-left: -10px;
  text-decoration: none;
}



/* LOSOWE */



.losowe {
  position: relative;
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  gap: 200px;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.overlap-group-3 {
  width: 586px;
  height: 586px;
  position: relative;
  background-color: #ffffff;
}

.imgwlos {
  position: absolute;
  background-color: #a09090;
  width: 400px;
  height: 350px;
  top: 90px;
  left: 80px;
  border-radius: 15px;

}

.rectangle-3 {
  position: absolute;
  background-color: #d9d9d9;
  width: 500px;
  height: 500px;
  top: 42px;
  left: 38px;
  border-radius: 15px;
}

.textwlos {
  position: absolute;
  width: 106px;
  top: 466px;
  left: 234px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.overlap-wrapper {
  position: relative;
  width: 587.5px;
  height: 585.5px;
  margin-right: -2px;
}

.div-wrapper {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 12px;
  left: 343px;
  background-color: #d9d9d9;
}



/* STOPKA */



.stopka {
  position: fixed;
  width: 100%;
  padding: 42px 10px;
  margin-left: -10px;
  margin-right: -10px;
  background-color: #ffffff;
  border-top: 1px solid;
  border-color: #000000;
  bottom: 0;
}



.discord {
  position: absolute;
  width: 75px;
  top: 20px;
  right: 5%;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  padding: 15px 5px 15px 20px;
  transition: 0.3s;
  border: 1px solid black;
  border-radius: 15px;
}

.discord:hover {
  background-color: #3e8e41;
  color: white;
}

/* ZMIANA STRONY */



.pagination-wrapper {
  font-size: 0;
  position: absolute;
  bottom: 125px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

@keyframes pagination-container--animation-prev {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(18px);
  }
}

@keyframes pagination-container--animation-next {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-18px);
  }
}

.transition-prev .pagination-container {
  animation: pagination-container--animation-prev 0.3s forwards;
}

.transition-next .pagination-container {
  animation: pagination-container--animation-next 0.3s forwards;
}

.little-dot {
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
  margin: 0 6px;
  position: relative;
  z-index: 10;
}

.little-dot--first,
.little-dot--last {
  z-index: 5;
}

@keyframes slideLeft {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-18px);
  }
}

.transition-prev .little-dot--first {
  animation: slideLeft 0.4s 0.3s forwards cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes little-dot--first--animation {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.transition-next .little-dot--first {
  animation: little-dot--last--animation 0.3s forwards;
}


@keyframes little-dot--last--animation {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.transition-prev .little-dot--last {
  animation: little-dot--last--animation 0.3s forwards;
}

@keyframes slideRight {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }

  100% {
    transform: translateX(18px);
    opacity: 1;
  }
}

.transition-next .little-dot--last {
  animation: slideRight 0.4s 0.3s forwards cubic-bezier(0.165, 0.84, 0.44, 1);
}

.big-dot {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: #8d6c6c;
  position: absolute;
  top: 50%;
  right: -6px;
  transform: translateY(-50%);
}

.transition-next .big-dot {
  right: auto;
  left: -6px;
}

.big-dot-container {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  right: 3px;
  transform: translateY(-50%);
  z-index: 10;
}

.transition-next .big-dot-container {
  right: auto;
  left: 3px;
}

@keyframes big-dot-container--animation-prev {
  0% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(-50%) rotate(-179deg);
  }
}

@keyframes big-dot-container--animation-next {
  0% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(-50%) rotate(-181deg);
  }
}

.transition-prev .big-dot-container {
  animation: big-dot-container--animation-prev 0.3s forwards;
}

.transition-next .big-dot-container {
  animation: big-dot-container--animation-next 0.3s forwards;
}

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
  transition: opacity 0.2s;
}

.btn:hover {
  opacity: 0.6;
}

.btn--next {
  left: calc(100% + 20px);
}

.btn--prev {
  right: calc(100% + 20px);
}



/* DODAWANIE QUIZU */

form {
  display: flex;
  flex-direction: column;
}

.addquiz, .logowanie{
  background-color: #a09090;
  width: 700px;
  padding: 20px 20px 20px 0px;
  border-radius: 15px;
  font-size: 17px;
}

.addpytanie {
  background-color: #555;
  width: 660px;
  border-radius: 15px;
  height: 210px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.addpytanie input {
  max-width: 660px;
  margin: 10px;
  width: 640px;
  height: 150px;
  border-radius: 10px;
  overflow: scroll;
}

.odpowiedzi {
  background-color: #787878;
  border-radius: 15px;
  width: 680px;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: auto;
  margin-top: 30px;
  margin-left: auto;
  padding-bottom: 10px;
}

.odp {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  width: 340px;
  height: 100px;
  margin-top: 10px;
}

.odp input[type="text"] {
  width: 300px;
  height: 70px;
}

.przyciski {
  height: 40px;
  width: 700px;
  gap: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  margin-left: 180px;
}

.button {
  border: 2px solid black;
  border-radius: 10px;
  width: 150px;
  height: 40px;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: #3e8e41;
  color: white;
}

.nazwanowego,
.opisnowego {
  width: 580px;
  height: 30px;
  margin-left: 15px;
  margin-top: 10px;
}

.addquiz input[type=text], .logowanie input[type=text]{
  background-color: #3e8e41;
  border-radius: 10px;
  border: solid black 1px;
  text-align: center;
}

.oquiz, .login, .haslo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

/* LOGOWANIE */
